#include "Res/WinForVidLng.rc"
#include "Res/WinForVidMnu.rc"
#include "Res/WinForVidDlg.rc"
#include "Res/WinForVid2Dlg.rc"
#include "Res/WinForVid3Dlg.rc"
#include "Res/WinForVid4Dlg.rc"
#include "Res/WinForVid5Dlg.rc"
#include "Res/WinForVid6Dlg.rc"
#include "Res/WinForVidVer.rc"
#include "Res/WinForVid7Dlg.rc"
#include "Res/WinForVid8Dlg.rc"



600 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "znak.ico"
601 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "OpenBtn.bmp"
602 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PlayBtn.bmp"
603 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "StopBtn.bmp"
604 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PrevBtn.bmp"
605 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PlBtn.bmp"
606 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "NextBtn.bmp"
607 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "OpenBtnEmboss.bmp"
608 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "NextBtnEmboss.bmp"
609 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PlayBtnEmboss.bmp"
610 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PlBtnEmboss.bmp"
611 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PrevBtnEmboss.bmp"
612 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "StopBtnEmboss.bmp"
613 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PauseBtn.bmp"
614 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PauseBtnEmboss.bmp"

615 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "OpenBtnSilver.bmp"
616 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PlayBtnSilver.bmp"
617 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "StopBtnSilver.bmp"
618 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PrevBtnSilver.bmp"
619 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PlBtnSilver.bmp"
620 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "NextBtnSilver.bmp"
621 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "OpenBtnEmbossSilver.bmp"
622 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "NextBtnEmbossSilver.bmp"
623 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PlayBtnEmbossSilver.bmp"
624 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PlBtnEmbossSilver.bmp"
625 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PrevBtnEmbossSilver.bmp"
626 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "StopBtnEmbossSilver.bmp"
627 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PauseBtnSilver.bmp"
628 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "PauseBtnEmbossSilver.bmp"

