#define IDD_DIALOG3 998
#define IDC_EDT2 1110
IDD_DIALOG3 DIALOGEX 6,6,199,19
CAPTION "Âגוהטעו םמגמו טלÿ פאיכא"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_EDT2,"Edit",0x500100C0,0,0,195,20,0x00000000
END
